USE [master]
GO
/****** Object:  Database [NongSan]    Script Date: 13/12/2025 11:44:30 ******/
CREATE DATABASE [NongSan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NongSan', FILENAME = N'C:\Users\ACER\NongSan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NongSan_log', FILENAME = N'C:\Users\ACER\NongSan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NongSan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NongSan]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/12/2025 11:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMuc]    Script Date: 13/12/2025 11:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMuc](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 13/12/2025 11:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [varchar](20) NOT NULL,
	[TaiKhoanId] [uniqueidentifier] NOT NULL,
	[TongTien] [decimal](18, 2) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
	[NgayGiao] [datetime] NULL,
	[NgayDat] [datetime] NULL,
	[HoTen] [nvarchar](100) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[GhiChu] [nvarchar](300) NULL,
	[PhuongThucThanhToan] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHangChiTiet]    Script Date: 13/12/2025 11:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHangChiTiet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[DonHangId] [bigint] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[NgayGiao] [datetime] NULL,
	[NgayDat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHang]    Script Date: 13/12/2025 11:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHang](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TaiKhoanId] [uniqueidentifier] NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
	[GhiChu] [nvarchar](500) NULL,
 CONSTRAINT [PK_GioHang] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GioHangChiTiet]    Script Date: 13/12/2025 11:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioHangChiTiet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GioHangId] [bigint] NOT NULL,
	[SanPhamId] [int] NOT NULL,
	[DonGia] [decimal](18, 2) NOT NULL,
	[SoLuong] [int] NOT NULL,
 CONSTRAINT [PK_GioHangChiTiet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 13/12/2025 11:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](150) NOT NULL,
	[DanhMucId] [int] NOT NULL,
	[ThuongHieuId] [int] NULL,
	[Gia] [decimal](18, 2) NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[HinhAnh] [nvarchar](300) NULL,
	[MoTa] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 13/12/2025 11:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Id] [uniqueidentifier] NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](200) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[VaiTro] [varchar](20) NOT NULL,
	[NgayTao] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongTinNguoiDung]    Script Date: 13/12/2025 11:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinNguoiDung](
	[Id] [uniqueidentifier] NOT NULL,
	[TaiKhoanId] [uniqueidentifier] NOT NULL,
	[DiaChi] [nvarchar](200) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[PhuongThucThanhToan] [nvarchar](20) NULL,
	[GhiChu] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 13/12/2025 11:44:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DanhMuc] ON 

INSERT [dbo].[DanhMuc] ([Id], [Ten]) VALUES (21, N'Đậu - Hạt - Ngũ cốc')
INSERT [dbo].[DanhMuc] ([Id], [Ten]) VALUES (23, N'Dầu ăn - Dầu ép lạnh')
INSERT [dbo].[DanhMuc] ([Id], [Ten]) VALUES (32, N'Đồ hộp - Thực phẩm đóng gói')
SET IDENTITY_INSERT [dbo].[DanhMuc] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([Id], [MaDonHang], [TaiKhoanId], [TongTien], [TrangThai], [NgayGiao], [NgayDat], [HoTen], [SoDienThoai], [DiaChi], [GhiChu], [PhuongThucThanhToan]) VALUES (7, N'DH20250904084045340', N'df543772-c852-4ee6-86ee-2dd9f7760137', CAST(263000.00 AS Decimal(18, 2)), N'Chờ xử lý', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DonHang] ([Id], [MaDonHang], [TaiKhoanId], [TongTien], [TrangThai], [NgayGiao], [NgayDat], [HoTen], [SoDienThoai], [DiaChi], [GhiChu], [PhuongThucThanhToan]) VALUES (8, N'DH20250909065725954', N'b9c53250-0d7e-4d78-9b03-2172219c9eb0', CAST(35000.00 AS Decimal(18, 2)), N'Đang giao', NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[DonHang] ([Id], [MaDonHang], [TaiKhoanId], [TongTien], [TrangThai], [NgayGiao], [NgayDat], [HoTen], [SoDienThoai], [DiaChi], [GhiChu], [PhuongThucThanhToan]) VALUES (9, N'DH20251007004600629', N'b9c53250-0d7e-4d78-9b03-2172219c9eb0', CAST(210000.00 AS Decimal(18, 2)), N'Chờ xử lý', CAST(N'2025-10-08T00:00:00.000' AS DateTime), CAST(N'2025-10-07T07:46:00.830' AS DateTime), NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHangChiTiet] ON 

INSERT [dbo].[DonHangChiTiet] ([Id], [DonHangId], [SanPhamId], [DonGia], [SoLuong], [NgayGiao], [NgayDat]) VALUES (11, 7, 34, CAST(78000.00 AS Decimal(18, 2)), 2, NULL, NULL)
INSERT [dbo].[DonHangChiTiet] ([Id], [DonHangId], [SanPhamId], [DonGia], [SoLuong], [NgayGiao], [NgayDat]) VALUES (12, 7, 35, CAST(65000.00 AS Decimal(18, 2)), 1, NULL, NULL)
INSERT [dbo].[DonHangChiTiet] ([Id], [DonHangId], [SanPhamId], [DonGia], [SoLuong], [NgayGiao], [NgayDat]) VALUES (13, 7, 37, CAST(42000.00 AS Decimal(18, 2)), 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[DonHangChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHang] ON 

INSERT [dbo].[GioHang] ([Id], [TaiKhoanId], [NgayTao], [GhiChu]) VALUES (1, N'8a70b7d5-9ac6-4d85-8644-5e29a2366ba1', CAST(N'2025-09-01T03:34:28.0267732' AS DateTime2), NULL)
INSERT [dbo].[GioHang] ([Id], [TaiKhoanId], [NgayTao], [GhiChu]) VALUES (15, N'b9c53250-0d7e-4d78-9b03-2172219c9eb0', CAST(N'2025-10-07T02:01:44.8529429' AS DateTime2), NULL)
INSERT [dbo].[GioHang] ([Id], [TaiKhoanId], [NgayTao], [GhiChu]) VALUES (10042, N'dfdd163c-6362-47bf-bf6a-07d281d071f6', CAST(N'2025-12-07T07:55:28.5793284' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[GioHang] OFF
GO
SET IDENTITY_INSERT [dbo].[GioHangChiTiet] ON 

INSERT [dbo].[GioHangChiTiet] ([Id], [GioHangId], [SanPhamId], [DonGia], [SoLuong]) VALUES (1, 1, 6, CAST(120000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[GioHangChiTiet] ([Id], [GioHangId], [SanPhamId], [DonGia], [SoLuong]) VALUES (36, 15, 34, CAST(78000.00 AS Decimal(18, 2)), 2)
INSERT [dbo].[GioHangChiTiet] ([Id], [GioHangId], [SanPhamId], [DonGia], [SoLuong]) VALUES (37, 15, 43, CAST(260000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[GioHangChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([Id], [Ten], [DanhMucId], [ThuongHieuId], [Gia], [SoLuongTon], [HinhAnh], [MoTa]) VALUES (6, N'Dâu tây tươi Đà Lạt', 10, 4, CAST(120000.00 AS Decimal(18, 2)), 30, N'/images/6750b729-a1e2-4d77-b4c2-445cd16eddb3.jpg', N'Dâu tây tươi Đà Lạt có vị ngọt thanh, chua nhẹ tự nhiên, giàu vitamin C, được trồng theo quy trình hữu cơ an toàn.')
INSERT [dbo].[SanPham] ([Id], [Ten], [DanhMucId], [ThuongHieuId], [Gia], [SoLuongTon], [HinhAnh], [MoTa]) VALUES (12, N'Bí đỏ hữu cơ', 11, 12, CAST(42000.00 AS Decimal(18, 2)), 53, N'/images/products/bi-do.jpg', N'Bí đỏ hữu cơ ngọt đậm, ruột vàng tươi, giàu vitamin A, thích hợp nấu canh hoặc làm bánh.')
INSERT [dbo].[SanPham] ([Id], [Ten], [DanhMucId], [ThuongHieuId], [Gia], [SoLuongTon], [HinhAnh], [MoTa]) VALUES (13, N'Rau muống sạch', 9, 8, CAST(25000.00 AS Decimal(18, 2)), 120, N'/images/products/rau-muong.jpg', N'Rau muống sạch tươi non, được trồng theo tiêu chuẩn VietGAP, đảm bảo an toàn, không dư lượng thuốc.')
SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [MatKhau], [HoTen], [VaiTro], [NgayTao]) VALUES (N'dfdd163c-6362-47bf-bf6a-07d281d071f6', N'kietletuan002', N'kietlatoi1', N'Lê Tuấn Kiệt', N'Admin', CAST(N'2025-09-20T19:17:50.1559872' AS DateTime2))
INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [MatKhau], [HoTen], [VaiTro], [NgayTao]) VALUES (N'90b2a9bd-afb0-4d87-a2b7-0b5b9cf0c865', N'anhtu000', N'anhtu000', N'Anh tú', N'Customer', CAST(N'2025-10-30T15:20:38.2361875' AS DateTime2))
INSERT [dbo].[TaiKhoan] ([Id], [TenDangNhap], [MatKhau], [HoTen], [VaiTro], [NgayTao]) VALUES (N'b9c53250-0d7e-4d78-9b03-2172219c9eb0', N'Kieta', N'123', N'Kiệt Lê tuấn', N'Customer', CAST(N'2025-09-04T15:43:47.3664230' AS DateTime2))
GO
INSERT [dbo].[ThongTinNguoiDung] ([Id], [TaiKhoanId], [DiaChi], [SoDienThoai], [PhuongThucThanhToan], [GhiChu]) VALUES (N'e5a0ad07-1258-417c-8515-0047e89319a0', N'90b2a9bd-afb0-4d87-a2b7-0b5b9cf0c865', N'ưqweqeq', N'24234234234', N'VNPAY', NULL)
INSERT [dbo].[ThongTinNguoiDung] ([Id], [TaiKhoanId], [DiaChi], [SoDienThoai], [PhuongThucThanhToan], [GhiChu]) VALUES (N'ca2a70bb-0ac8-49bf-9207-067fa6e72951', N'91fa2838-5c1f-4e22-b4f3-59e316202abf', N'SDS', N'3244234', N'VNPAY', NULL)
INSERT [dbo].[ThongTinNguoiDung] ([Id], [TaiKhoanId], [DiaChi], [SoDienThoai], [PhuongThucThanhToan], [GhiChu]) VALUES (N'2bc5cc65-7f32-4d24-966c-3f1142c705fb', N'8a70b7d5-9ac6-4d85-8644-5e29a2366ba1', N'456 Phố XYZ, Quận 2, TP.HCM', N'0987654321', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([Id], [Ten]) VALUES (12, N'4KFarm')
INSERT [dbo].[ThuongHieu] ([Id], [Ten]) VALUES (8, N'An Nhiên Organic')
INSERT [dbo].[ThuongHieu] ([Id], [Ten]) VALUES (29, N'An Phú Farm')
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DanhMuc__C451FA83AA6A5135]    Script Date: 13/12/2025 11:44:30 ******/
ALTER TABLE [dbo].[DanhMuc] ADD UNIQUE NONCLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DonHang__129584AC20A845C6]    Script Date: 13/12/2025 11:44:30 ******/
ALTER TABLE [dbo].[DonHang] ADD UNIQUE NONCLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SanPham_Loc]    Script Date: 13/12/2025 11:44:30 ******/
CREATE NONCLUSTERED INDEX [IX_SanPham_Loc] ON [dbo].[SanPham]
(
	[DanhMucId] ASC,
	[ThuongHieuId] ASC,
	[Gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC0BDFBE154]    Script Date: 13/12/2025 11:44:30 ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ThongTin__9A124B447EAC6B6E]    Script Date: 13/12/2025 11:44:30 ******/
ALTER TABLE [dbo].[ThongTinNguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TaiKhoanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ThuongHi__C451FA83C9F0ADCA]    Script Date: 13/12/2025 11:44:30 ******/
ALTER TABLE [dbo].[ThuongHieu] ADD UNIQUE NONCLUSTERED 
(
	[Ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GioHang] ADD  DEFAULT (sysutcdatetime()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[SanPham] ADD  DEFAULT ((0)) FOR [SoLuongTon]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT (sysutcdatetime()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[ThongTinNguoiDung] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TaiKhoan] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaiKhoan] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TaiKhoan]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DHCT_DonHang] FOREIGN KEY([DonHangId])
REFERENCES [dbo].[DonHang] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DHCT_DonHang]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_DHCT_SanPham] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[DonHangChiTiet] CHECK CONSTRAINT [FK_DHCT_SanPham]
GO
ALTER TABLE [dbo].[GioHang]  WITH CHECK ADD  CONSTRAINT [FK_GioHang_TaiKhoan] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaiKhoan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHang] CHECK CONSTRAINT [FK_GioHang_TaiKhoan]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GHCT_GioHang] FOREIGN KEY([GioHangId])
REFERENCES [dbo].[GioHang] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GHCT_GioHang]
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD  CONSTRAINT [FK_GHCT_SanPham] FOREIGN KEY([SanPhamId])
REFERENCES [dbo].[SanPham] ([Id])
GO
ALTER TABLE [dbo].[GioHangChiTiet] CHECK CONSTRAINT [FK_GHCT_SanPham]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_DanhMuc] FOREIGN KEY([DanhMucId])
REFERENCES [dbo].[DanhMuc] ([Id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_DanhMuc]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_ThuongHieu] FOREIGN KEY([ThuongHieuId])
REFERENCES [dbo].[ThuongHieu] ([Id])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_ThuongHieu]
GO
ALTER TABLE [dbo].[ThongTinNguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_TTND_TaiKhoan] FOREIGN KEY([TaiKhoanId])
REFERENCES [dbo].[TaiKhoan] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThongTinNguoiDung] CHECK CONSTRAINT [FK_TTND_TaiKhoan]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [CK_DonHang_TrangThai_VN] CHECK  (([TrangThai]=N'Đã hủy' OR [TrangThai]=N'Hoàn tất' OR [TrangThai]=N'Đang giao' OR [TrangThai]=N'Đã xác nhận' OR [TrangThai]=N'Chờ xử lý'))
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [CK_DonHang_TrangThai_VN]
GO
ALTER TABLE [dbo].[DonHangChiTiet]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[GioHangChiTiet]  WITH CHECK ADD CHECK  (([SoLuong]>(0)))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]='Customer' OR [VaiTro]='Staff' OR [VaiTro]='Admin'))
GO
USE [master]
GO
